@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-preta: #000;
  --color-azul: #33405b;
  --color-cinza: #5f666e;
  --color-branca: #fff;
  --color-noriGreen: #525041;
  --color-mescla: #696969;
  --color-carmenere: #572531;
  --color-offWhite: #f1f4e0;
  --color-grayMint: #dee9ce;
  --color-tobacco: #765123;
  --color-brightRed: #f2003d;
  --color-blueFog: #879ba3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
